* {
  box-sizing: border-box;
  margin: 0;
}

p{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

a{
	position: relative;
	text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a:hover{
	text-decoration: none;
}

.width-100{
	width: 100%;
	position: relative;
}

.overline{
	border-top: 1px solid #000000;
}

.row-top{
	margin-top: 30px;
}

.row-top-15{
	margin-top: 15px;
}

.row-top-10{
	margin-top: 10px;
}

.no-top-margin{
	margin-top: 0px;
}

.no-bottom-margin{
	margin-bottom: 0px;
}

.bio-pic{
	float: left;
	width: 260px;
	margin: 15px 15px 0px 0px;
}

.p-link{
	color: #003265;
}

.p-link:hover{
	text-decoration: underline;
	font-style: italic;
	color: #003265;
}

.icon-social{
	width: 66px;
	height: 66px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.float-left{
	float: left;
}

.margin-left-social{
	margin-left: 15px;
}

.image-wrapper{
	position: relative;
	margin-bottom: 30px;
	line-height: 0;
}

.image-portfolio{
	height: 198px;
	width: 392px;
	border: 1px solid #000000;
	vertical-align: baseline;
}

.port-detail-bold{
	font-weight: bold;
}

.side-image{
	width: 230px;
	height: 116px;
	margin-top: 15px;
	border: 1px solid #000000;
}

.label{
	width: 392px;
	font-size: 100%;
	border: 1px solid #000000;
	padding: 15px;
	border-top: none;
	display: block;
}

.label-top{
	width: auto;
	position: absolute;
	top: -184px;
	right: 0;
	display: inline;
	background-color: #ffffff;
	color: #000000;
	border-top: none;
	border-right: none;
	display: none;
}

footer{
	margin: 0px;
}

.footer{
	height: 100px;
	text-align: center;
	color: #ffffff;
	padding-top: 33px;
	background-color: #222222;
	border-top: 8px solid #2780e3;
}